<%- include('../partials/header') %>
<div id="main-container">
    <section id="left" class="main-divider">
        <div id="left-pane-title">
            <div id="page-desc">
                // the dashboard is a place where you can see <br>
                // your posts and post new ideas for people to comment on.<br>
                // It also has a snapshot of your profile.<br>
            </div><br>
            <div id="page-title">
                DASHBOARD
            </div>
            
        </div>
    </section>
    <section id="center" class="main-divider">
        <div id="enter-post-container">
            <form id="post-form">
                <input id="post-title" class="post-text" type="text" value="TITLE">
                <input id="post-pitch" class="post-text" type="text" value="PITCH">
                <div class="hr"></div>
                <input id="post-button" type="submit" value="POST">
            </form>
        </div>
        <div id="active-post-title">
            YOUR ACTIVE POSTS
        </div>
        <div id="sample-post" class="post-box">
            <div class="post-box-header">
                <div class="post-box-title">
                    // NEW FOOD APP IDEA
                </div>
                <div class="post-box-date">
                    6-7-2021
                </div>
            </div>
            <div class="post-box-content">
                I have this idea for a dope food app! It tracks all the food spots you’ve eaten in the past and logs a personal rating! Anyone have experience in anything like this?
            </div>
            <div class="post-box-footer">
                <div class="post-box-comments">
                    25 COMMENTS
                </div>
                <div class="post-box-upvote">
                    1783 UPVOTES
                </div>
            </div>
        </div>
    </section>
    <section id="right" class="main-divider">
        <div id="profile-container">
            <div id="profile-title" class="right-profile">// USER PROFILE</div>
            <div id="profile-avatar-container" class="right-profile">
                <img id="avatar-icon" src="<%=user.avatar%>">
            </div>
            <div id="profile-name">
                <div class="profile-ans">
                    <% if (user.name) {%>
                    <%=user.name%>
                    <%} else {%>
                        null
                    <%}%>
                </div>
                <div class="hr-profile"></div>
                <div class="profile-cat">NAME</div>
            </div>
            <br>
            <div id="profile-username">
                <div class="profile-ans">
                    <% if (user.username) {%>
                        <%=user.username%>
                        <%} else {%>
                            null
                        <%}%>
                </div>
                <div class="hr-profile"></div>
                <div class="profile-cat">ALIAS</div>
            </div>
            <br>
            <div id="profile-email">
                <div class="profile-ans">
                    <% if (user.email) {%>
                        <%=user.email%>
                        <%} else {%>
                            null
                        <%}%>
                </div>
                <div class="hr-profile"></div>
                <div class="profile-cat">EMAIL</div>
            </div>
            <br>
            <div id="profile-skills">
                <div class="profile-ans">
                    <% if (user.techSkills) {%>
                        <%=user.techSkills%>
                        <%} else {%>
                            null
                        <%}%>
                </div>
                <div class="hr-profile"></div>
                <div class="profile-cat">SKILLS</div>
            </div>
            <br>
            <div id="profile-bio">
                <div class="profile-ans">
                    <% if (user.bio) {%>
                        <%=user.bio%>
                        <%} else {%>
                            null
                        <%}%>
                </div>
                <div class="hr-profile"></div>
                <div class="profile-cat">BIO</div>
            </div>
            <br>
            <div id="profile-edit">
                <div class="hr" style="width: 100%; margin-top: auto;"></div>
                <button id="profile-edit-button">EDIT</button>
            </div>
        </div>

    </section>
</div>



<%- include('../partials/footer') %>