<%- include('../partials/header') %>
<div id="main-container">
    <section id="left" class="main-divider">
        <div id="left-pane-title">
            <div id="page-desc">
                // in this view you can edit your profile info <br>
                // and upload a profile picture.<br>
                // It also has a snapshot of your current profile.<br>
            </div><br>
            <div id="page-title">
                EDIT PROFILE
            </div>
        </div>
    </section>
    <section id="center" class="main-divider">
        <div id="profile-title" class="right-profile">// EDIT PROFILE</div>
        <div id="enter-profile-container">
            <form id="post-form" action="/profiles/<%=user._id%>" method="POST">
                <label>NAME //</label><input class="post-text profile-box" type="text" value="<%=user.name%>" name="name"><br>
                <label>USERNAME //</label><input class="post-text profile-box" type="text" value="<%=user.username%>" name="username"><br>
                <label>EMAIL //</label><input class="post-text profile-box" type="text" value="<%=user.email%>" name="email"><br>
                <label>TECH SKILLS //</label><input class="post-text profile-box" type="text" value="<%=user.techSkills%>" name="techSkills"><br>
                <label>BIO //</label><input class="post-text profile-box" type="text" value="<%=user.bio%>" name="bio"><br>
                <label>AVATAR URL//</label><input class="post-text profile-box" type="text" value="<%=user.avatar%>" name="avatar"><br>
                <div class="hr"></div>
                <input id="post-button" type="submit" value="SAVE CHANGES">
            </form>
        </div>
        <div class="active-title">
    </section>
    <section id="right" class="main-divider">
        <div id="profile-container">
            <div id="profile-title" class="right-profile">// USER PROFILE</div>
            <div id="profile-avatar-container" class="right-profile">
                <img id="avatar-icon" src="<%=user.avatar%>">
            </div>
            <div id="profile-name">
                <div class="profile-ans">
                    <% if (user.name) {%>
                    <%=user.name%>
                    <%} else {%>
                        null
                    <%}%>
                </div>
                <div class="hr-profile"></div>
                <div class="profile-cat">NAME</div>
            </div>
            <br>
            <div id="profile-username">
                <div class="profile-ans">
                    <% if (user.username) {%>
                        <%=user.username%>
                        <%} else {%>
                            null
                        <%}%>
                </div>
                <div class="hr-profile"></div>
                <div class="profile-cat">ALIAS</div>
            </div>
            <br>
            <div id="profile-email">
                <div class="profile-ans">
                    <% if (user.email) {%>
                        <%=user.email%>
                        <%} else {%>
                            null
                        <%}%>
                </div>
                <div class="hr-profile"></div>
                <div class="profile-cat">EMAIL</div>
            </div>
            <br>
            <div id="profile-skills">
                <div class="profile-ans">
                    <% if (user.techSkills) {%>
                        <%=user.techSkills%>
                        <%} else {%>
                            null
                        <%}%>
                </div>
                <div class="hr-profile"></div>
                <div class="profile-cat">SKILLS</div>
            </div>
            <br>
            <div id="profile-bio">
                <div class="profile-ans">
                    <% if (user.bio) {%>
                        <%=user.bio%>
                        <%} else {%>
                            null
                        <%}%>
                </div>
                <div class="hr-profile"></div>
                <div class="profile-cat">BIO</div>
            </div>
            <br>
            <div id="profile-edit">
                <div class="hr" style="width: 100%; margin-top: auto;"></div>
                <button id="profile-edit-button">EDIT</button>
            </div>
        </div>

    </section>
</div>



<%- include('../partials/footer') %>