<%- include('../partials/header') %>
<div id="main-container">
    <section id="left" class="main-divider">
        <div id="left-pane-title">
        <button id="hint">[ + ]</button>    
            <br><br>
            <div id="page-title">
                EDIT PROFILE
            </div><br>
            <div id="page-desc">
                // this is where you can edit your profile. <br>
                // by default, this information came from <br>
                // your github profile. You can change <br>
                // all the information displayed, but <br>
                // your username you can't change.<br>
                // click save to save all your<br>
                // changes. <br>
            </div>
        </div>
    </section>
    <section id="center" class="main-divider">
        <div id=tl-Title>
            <h1>EDIT PROFILE</h1>
        </div>
        <div id="enter-profile-container">
            <form id="post-form" action="/profiles/<%=user._id%>" method="POST">
                <label>NAME //</label><input class="post-text profile-box" type="text" value="<%=user.name%>" name="name"><br>
                <label>USERNAME (unchangeable) //</label><div class="post-text profile-box"><%=user.username%></div><br>
                <label>EMAIL //</label><input class="post-text profile-box" type="text" value="<%=user.email%>" name="email"><br>
                <label>TECH SKILLS //</label><input class="post-text profile-box" type="text" value="<%=user.techSkills%>" name="techSkills"><br>
                <label>BIO //</label><input class="post-text profile-box" type="text" value="<%=user.bio%>" name="bio"><br>
                <label>AVATAR URL//</label><input class="post-text profile-box" type="text" value="<%=user.avatar%>" name="avatar"><br>
                <div class="hr3"></div>
                <input id="post-button" type="submit" value="SAVE CHANGES">
            </form>
        </div>
        <div class="active-title">
    </section>
    <section id="right" class="main-divider">
        <%- include('../partials/profile') %>
    </section>
</div>



<%- include('../partials/footer') %>