<%- include('../partials/header') %>
<div id="main-container">
    <section id="left" class="main-divider">
        <div id="left-pane-title">
            <div id="page-desc">
                // in this view you can see other's profile info. <br>
                // Everyone's default info is from Github.<br>
                // Users are able to edit their own info from their profile popup.<br>
            </div><br>
            <div id="page-title">
                VIEW PROFILE
            </div>
        </div>
    </section>
    <section id="center" class="main-divider">
        <div id="profile-title" class="right-profile">// VIEW PROFILE</div>
        <div id="enter-profile-container">
            <div>
                <img class="avatar-icon" src="<%=one.avatar%>"><br>
                <label>NAME //</label><div class="post-text profile-box"><%=one.name%></div>
                <label>USERNAME //</label><div class="post-text profile-box"><%=one.username%></div>
                <label>EMAIL //</label><div class="post-text profile-box"><%=one.email%></div>
                <label>TECH SKILLS //</label><div class="post-text profile-box"><%=one.techSkills%></div>
                <label>BIO //</label><div class="post-text profile-box"><%=one.bio%></div>
                <div class="hr3"></div>
                <input id="post-button" type="submit" value="ADD COLLABORATOR">
            </div>
        </div>
        <div class="active-title">
    </section>
    <section id="right" class="main-divider">
        <%- include('../partials/profile') %>
    </section>
</div>



<%- include('../partials/footer') %>