<%- include('../partials/header') %>
<div id="main-container">
    <section id="left" class="main-divider">
        <div id="left-pane-title">
            <div id="page-desc">
                // in this view you can see other's profile info. <br>
                // Everyone's default info is from Github.<br>
                // Users are able to edit their own info from their profile popup.<br>
            </div><br>
            <div id="page-title">
                VIEW PROFILE
            </div>
        </div>
    </section>
    <section id="center" class="main-divider">
        <div id="profile-title" class="right-profile">// VIEW PROFILE</div>
        <div id="enter-profile-container">
            <div>
                <img src="<%=one.avatar%>"><br>
                <label>NAME //</label><div class="post-text profile-box"><%=one.name%></div>
                <label>USERNAME //</label><div class="post-text profile-box"><%=one.username%></div>
                <label>EMAIL //</label><div class="post-text profile-box"><%=one.email%></div>
                <label>TECH SKILLS //</label><div class="post-text profile-box"><%=one.techSkills%></div>
                <label>BIO //</label><div class="post-text profile-box"><%=one.bio%></div>
                <div class="hr"></div>
                <input id="post-button" type="submit" value="ADD COLLABORATOR">
            </div>
        </div>
        <div class="active-title">
    </section>
    <section id="right" class="main-divider">
        <div id="profile-container">
            <div id="profile-title" class="right-profile">// USER PROFILE</div>
            <div id="profile-avatar-container" class="right-profile">
                <img id="avatar-icon" src="<%=user.avatar%>">
            </div>
            <div id="profile-name">
                <div class="profile-ans">
                    <% if (user.name) {%>
                    <%=user.name%>
                    <%} else {%>
                        null
                    <%}%>
                </div>
                <div class="hr-profile"></div>
                <div class="profile-cat">NAME</div>
            </div>
            <br>
            <div id="profile-username">
                <div class="profile-ans">
                    <% if (user.username) {%>
                        <%=user.username%>
                        <%} else {%>
                            null
                        <%}%>
                </div>
                <div class="hr-profile"></div>
                <div class="profile-cat">ALIAS</div>
            </div>
            <br>
            <div id="profile-email">
                <div class="profile-ans">
                    <% if (user.email) {%>
                        <%=user.email%>
                        <%} else {%>
                            null
                        <%}%>
                </div>
                <div class="hr-profile"></div>
                <div class="profile-cat">EMAIL</div>
            </div>
            <br>
            <div id="profile-skills">
                <div class="profile-ans">
                    <% if (user.techSkills) {%>
                        <%=user.techSkills%>
                        <%} else {%>
                            null
                        <%}%>
                </div>
                <div class="hr-profile"></div>
                <div class="profile-cat">SKILLS</div>
            </div>
            <br>
            <div id="profile-bio">
                <div class="profile-ans">
                    <% if (user.bio) {%>
                        <%=user.bio%>
                        <%} else {%>
                            null
                        <%}%>
                </div>
                <div class="hr-profile"></div>
                <div class="profile-cat">BIO</div>
            </div>
            <br>
            <div id="profile-edit">
                <div class="hr" style="width: 100%; margin-top: auto;"></div>
                <a href="/profiles/<%=user._id%>"><button id="profile-edit-button">EDIT PROFILE</button></a>
            </div>
        </div>

    </section>
</div>



<%- include('../partials/footer') %>