<%- include('../partials/header') %>
<div id="main-container">
    <section id="left" class="main-divider">
        <div id="left-pane-title">
            <div id="page-desc">
                // this is where you can create <br>
                // private entries for new ideas<br>
            </div><br>
            <div id="page-title">
                NOTEPAD
            </div>
        </div>
    </section>
    <section id="center" class="main-divider">
        <div id=tl-Title>
            <h1>CREATE PRIVATE POSTING</h1>
        </div>
        <br>
        <div id="enter-post-container">
            <form id="post-form" action="/notepad" method="POST">
                <input id="post-title" class="post-text" type="text" placeholder="TYPE TITLE HERE" name="title">
                <input id="post-pitch" class="post-text" type="text" placeholder="TYPE ENTRY HERE" name="content">
                <div class="hr"></div>
                <input id="post-button" type="submit" value="POST">
            </form>
        </div>
<% if (note.length > 0) { %>
        <div class="active-title">
            <br><br>
            YOUR CURRENT ENTRIES
        </div>
    <% note.forEach(function(note) { %>   
            <div class="post-box">
                <form method="POST" action="/notepad/<%=note._id%>">
                <div class="post-box-header">
                    <div class="post-box-title">
                        <input class="notepad-title" type="text" value="<%= note.title %>" name="title" contenteditable="true">
                    </div>
                    <div class="post-box-date">
                        <%= note.date %>
                    </div>
                </div>
                <div class="post-box-content">
                    <textarea class="notepad-content" name="content"><%= note.content %></textarea>
                </div>
                <div class="post-box-footer">
                    <div class="post-box-comments">
                            <button class="post-box-delete" type="submit">SAVE ENTRY</button>
                        
                    </div>
                </form>
                    <div class="post-box-upvote">
                        <form method="POST" action="/notepad/<%=note._id%>/?_method=DELETE">
                            <button class="post-box-delete" type="submit">DELETE ENTRY</button>
                        </form>
                    </div>
                </div>
            </div>   
    <% }) %>
<%} else {%>
    <div class="active-title">
        NO ENTRIES YET
    </div>
<%};%>    
    </section>
    <section id="right" class="main-divider">
        <div id="profile-container">
            <div id="profile-title" class="right-profile">// USER PROFILE</div>
            <div id="profile-avatar-container" class="right-profile">
                <img class="avatar-icon" src="<%=user.avatar%>">
            </div>
            <div id="profile-name">
                <div class="profile-ans">
                    <% if (user.name) {%>
                    <%=user.name%>
                    <%} else {%>
                        null
                    <%}%>
                </div>
                <div class="hr-profile"></div>
                <div class="profile-cat">NAME</div>
            </div>
            <br>
            <div id="profile-username">
                <div class="profile-ans">
                    <% if (user.username) {%>
                        <%=user.username%>
                        <%} else {%>
                            null
                        <%}%>
                </div>
                <div class="hr-profile"></div>
                <div class="profile-cat">ALIAS</div>
            </div>
            <br>
            <div id="profile-email">
                <div class="profile-ans">
                    <% if (user.email) {%>
                        <%=user.email%>
                        <%} else {%>
                            null
                        <%}%>
                </div>
                <div class="hr-profile"></div>
                <div class="profile-cat">EMAIL</div>
            </div>
            <br>
            <div id="profile-skills">
                <div class="profile-ans">
                    <% if (user.techSkills) {%>
                        <%=user.techSkills%>
                        <%} else {%>
                            null
                        <%}%>
                </div>
                <div class="hr-profile"></div>
                <div class="profile-cat">SKILLS</div>
            </div>
            <br>
            <div id="profile-bio">
                <div class="profile-ans">
                    <% if (user.bio) {%>
                        <%=user.bio%>
                        <%} else {%>
                            null
                        <%}%>
                </div>
                <div class="hr-profile"></div>
                <div class="profile-cat">BIO</div>
            </div>
            <br>
            <div id="profile-edit">
                <div class="hr" style="width: 100%; margin-top: auto;"></div>
                <a href="/profiles/<%=user._id%>"><button id="profile-edit-button">EDIT PROFILE</button></a>
            </div>
        </div>
    </section>
</div>



<%- include('../partials/footer') %>