<%- include('../partials/header') %>
<div id="main-container">
    <section id="left" class="main-divider">
        <div id="left-pane-title">
        <button class="hint">[ + ]</button>    
            <br><br>
            <div id="page-title">
                NOTEPAD
            </div><br>
            <div id="page-desc">
                // this is where you can create and store<br>
                // private entries for your new ideas.<br>
                // No one has access to this content <br>
                // so feel free to log thoughts, <br>
                // half-baked project ideas, or <br>
                // keep it as a journal for <br>
                // your dev journey.
            </div>
        </div>
    </section>
    <section id="center" class="main-divider">
        <div id=tl-Title>
            <h1>CREATE PRIVATE ENTRY</h1>
        </div>
        <br>
        <div id="enter-post-container">
            <form id="post-form" action="/notepad" method="POST">
                <input id="post-title" class="post-text" type="text" placeholder="TYPE TITLE HERE" name="title">
                <input id="post-pitch" class="post-text" type="text" placeholder="TYPE ENTRY HERE" name="content">
                <div class="hr"></div>
                <input id="post-button" type="submit" value="POST">
            </form>
        </div>
<% if (note.length > 0) { %>
        <div class="active-title">
            <br><br>
            YOUR PRIVATE ENTRIES
            <form class="drop-down">
                <select class="list" name="list" id="list" accesskey="target">
                    <option value='none' selected>SORTED BY:</option>
                    <option value="/notepad">NEWEST</option>
                    <option value="/notepad/oldest">OLDEST</option>
                </select>
                <input class="list-button" type=button value=">>>" onclick="goToNewPage()" />
            </form>
        </div>
    <% note.forEach(function(note) { %>   
            <div class="post-box">
                <form method="POST" action="/notepad/<%=note._id%>">
                <div class="post-box-header">
                    <div class="post-box-title">
                        <input class="notepad-title" type="text" value="<%= note.title %>" name="title" contenteditable="true">
                    </div>
                    <div class="post-box-date">
                        <%= note.date %>
                    </div>
                </div>
                <div class="post-box-content">
                    <textarea class="notepad-content" name="content"><%= note.content %></textarea>
                </div>
                <div class="post-box-footer">
                    <div class="post-box-comments">
                            <button class="post-box-delete" type="submit">SAVE ENTRY</button>
                        
                    </div>
                </form>
                    <div class="post-box-upvote">
                        <form method="POST" action="/notepad/<%=note._id%>/?_method=DELETE">
                            <button class="post-box-delete" type="submit">DELETE ENTRY</button>
                        </form>
                    </div>
                </div>
            </div>   
    <% }) %>
<%} else {%>
    <div class="active-title">
        NO ENTRIES YET
    </div>
<%};%>    
    </section>
    <section id="right" class="main-divider">
        <%- include('../partials/profile') %>
    </section>
</div>



<%- include('../partials/footer') %>