<%- include('../partials/header') %>
<div id="main-container">
    <section id="left" class="main-divider">
        <div id="left-pane-title">
            <div id="page-desc">
                // this post view is a place where you can see <br>
                // your selected post, comments, and upvotes.<br>
                // It also has a snapshot of your profile.<br>
            </div><br>
            <div id="page-title">
                SELECTED POST
            </div>
        </div>
    </section>
    <section id="center" class="main-divider">
        <div id="enter-post-container">
            <form id="post-form" action="/posts/<%=currentPost._id%>" method="POST">
                <input id="post-comment" class="post-text" type="text" placeholder="TEXT" name="content">
                <div class="hr"></div>
                <input id="post-button" type="submit" value="COMMENT">
            </form>
        </div>
        <div class="active-title">
            YOUR SELECTED POST
        </div>
        <div id="sample-post" class="post-box">
            <div class="post-box-header">
                <div class="post-box-title">
                    // <%=currentPost.title%>
                </div>
                <div class="post-box-date">
                    <%=currentPost.date%>
                </div>
            </div>
            <div class="post-box-content">
                <%=currentPost.content%>
            </div>
            <div class="post-box-footer">
                <div class="post-box-comments">
                    <%=currentPost.comments.length%>
                    COMMENTS
                </div>
                <div class="post-box-upvote">
                    1783 UPVOTES
                </div>
            </div>
        </div>
        <div class="active-title">
            DISCUSSION
        </div>
    <% currentPost.comments.forEach(function(comment) { %>
        <div class="comment-box">
            <div class="comment-box-header">
                <div class="comment-box-title">
                    // <%= comment.username %>
                </div>
                <div class="comment-box-date">
                    <%= comment.date %>
                </div>
            </div>
            <div class="comment-box-content">
                <%= comment.content %>
            </div>
            <div class="comment-box-footer">
                <div class="comment-box-comments">
                    DELETE COMMENT
                </div>
                <div class="comment-box-upvote">
                    1783 UPVOTES
                </div>
            </div>
        </div>
    <% }) %>
    </section>
    <section id="right" class="main-divider">
        <div id="profile-container">
            <div id="profile-title" class="right-profile">// USER PROFILE</div>
            <div id="profile-avatar-container" class="right-profile">
                <img id="avatar-icon" src="<%=user.avatar%>">
            </div>
            <div id="profile-name">
                <div class="profile-ans">
                    <% if (user.name) {%>
                    <%=user.name%>
                    <%} else {%>
                        null
                    <%}%>
                </div>
                <div class="hr-profile"></div>
                <div class="profile-cat">NAME</div>
            </div>
            <br>
            <div id="profile-username">
                <div class="profile-ans">
                    <% if (user.username) {%>
                        <%=user.username%>
                        <%} else {%>
                            null
                        <%}%>
                </div>
                <div class="hr-profile"></div>
                <div class="profile-cat">ALIAS</div>
            </div>
            <br>
            <div id="profile-email">
                <div class="profile-ans">
                    <% if (user.email) {%>
                        <%=user.email%>
                        <%} else {%>
                            null
                        <%}%>
                </div>
                <div class="hr-profile"></div>
                <div class="profile-cat">EMAIL</div>
            </div>
            <br>
            <div id="profile-skills">
                <div class="profile-ans">
                    <% if (user.techSkills) {%>
                        <%=user.techSkills%>
                        <%} else {%>
                            null
                        <%}%>
                </div>
                <div class="hr-profile"></div>
                <div class="profile-cat">SKILLS</div>
            </div>
            <br>
            <div id="profile-bio">
                <div class="profile-ans">
                    <% if (user.bio) {%>
                        <%=user.bio%>
                        <%} else {%>
                            null
                        <%}%>
                </div>
                <div class="hr-profile"></div>
                <div class="profile-cat">BIO</div>
            </div>
            <br>
            <div id="profile-edit">
                <div class="hr" style="width: 100%; margin-top: auto;"></div>
                <button id="profile-edit-button">EDIT</button>
            </div>
        </div>

    </section>
</div>



<%- include('../partials/footer') %>